<h1>Home</h1>

<% if current_user %>
  <b>Hello <%= current_user.name %>.</b>
  <%= link_to 'Logout', logout_path %>
<% else %>
  <%= link_to 'Register', register_path %>
  <%= link_to 'Login', login_path %>
<% end %>